{{>layout/header}}



    <h2 id="signuptitle">Sign Up</h2>
    <form method="post" action="#">
        <div class="container">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
            
            
    
            <div class="clearfix">
                <button type="button" class="signupformbtn" id="cancelbtn">Cancel</button>
                <button type="submit" class="signupformbtn" id="signupbtn">Sign Up</button>
            </div>
        </div>
    </form>
    

{{>layout/footer}}